### 함수 
```
    def 함수명(매개변수):
        수행할문장1
        수행할문장2
```

In [1]:
def add(a, b):
    return a + b

In [2]:
print(add(5, 6))

11

In [3]:
def say():
    return "Hi"

print(say())

Hi

In [4]:
print(add(a=7, b=5))

12

In [5]:
# 기본 매개변수

def print_n_times(value, n=2):
    for i in range(n):
        print(value)

In [ ]:
# 가변 매개변수 -> * 을 붙이면 가변/ args 는 그냥 일반적으로 사용하는 매개변수 
# 가변 매개변수 뒤에는 일반 매개변수가 올 수 없음(가변 매개변수는 마지막에 선언)
# 가변 매개변수는 하나만 사용

def add_many(*args):
    print(args)

In [13]:
add_many()
add_many("35", "24", "45")
add_many("A", "b", "C", "D")
add_many([1, 2, 3, 4, 5])
add_many([1, 2, 3, 4, 5], 33)

()
('35', '24', '45')
('A', 'b', 'C', 'D')
([1, 2, 3, 4, 5],)
([1, 2, 3, 4, 5], 33)

In [14]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul": 
        result = 1
        for i in args:
            result = result + i
    return result

In [15]:
print(add_mul("add", 10, 11, 12, 13))
print(add_mul("mul", 10, 11, 12, 13))

46
47

In [16]:
# 키워드 매개변수 : **kwargs
# 매개변수를 딕셔너리 형태로 처리

def args_func1(**kwargs):
    print(kwargs)
    for k in

SyntaxError: invalid syntax (2755961406.py, line 6)

In [17]:
args_func1(name+"Kim")
args_func1(name+"Kim", age = 15, active="Test")
args_func1(name+"Kim", year=2025)

NameError: name 'args_func1' is not defined

In [18]:
def example_mul(arg1, arg2=5, *args, **kwargs):
    print(arg1, arg2, args, kwargs)

In [19]:
example_mul(10, 20)
example_mul(10)
example_mul(10, 15, "park", "kim")
example_mul(10, 15, "park", "kim", age= 25, name="choi")

10 20 () {}
10 5 () {}
10 15 ('park', 'kim') {}
10 15 ('park', 'kim') {'age': 25, 'name': 'choi'}

In [20]:
# 다중 리턴

def func(a, b):
    return a+b, a*b

In [21]:
print(func(5, 6))

(11, 30)

In [22]:
def func2(a, b):
    return [a+b, a*b, a-b]

In [23]:
print(func2(11, 6))

[17, 66, 5]

In [25]:
# 두개의 숫자와 연산자를 입력받아 사칙연산의(+, -, *, /) 결과를 리턴하는 함수 작성

def fourRules(x, y, op):
    result = 0
    if op == "+":
        result = x + y
    elif op == "-":
        result = x - y
    elif op == "*":
        result = x * y
    elif op == "/":
        result = x / y
    return result

In [26]:
print(fourRules(5, 6, "+"))
print(fourRules(5, 6, "-"))
print(fourRules(5, 6, "*"))
print(fourRules(5, 6, "/"))

11
-1
30
0.8333333333333334

In [30]:
# 람다함수
# 익명함수 

def square(x):
    return x**2

square2 = lambda x:x**2

In [28]:
print(square(5))

25

In [31]:
print(type(square2))

<class 'function'>

In [ ]:
def add(a, b):
    return a+b
    
add2 = lambda a, b:a+b

In [34]:
print(add2(6, 11))

17

In [ ]:
list1 = ["bob", "charles", "alexander3", "teddy"]

print(list1)
list1.sort() # 알파벳 순서 오름차순
print(list1)

['bob', 'charles', 'alexander3', 'teddy']
['alexander3', 'bob', 'charles', 'teddy']

In [36]:
# 문자의 길이가 짧은 순서대로 정렬
def str_len(s):
    return len(s)

list1.sort(key=str_len)
list1

['bob', 'teddy', 'charles', 'alexander3']

In [38]:
list1 = ["bob", "charles", "alexander3", "teddy"]

list1.sort(key=lambda s:len(s))
list1

['bob', 'teddy', 'charles', 'alexander3']

In [39]:
# filter, map : 실행 후 새로운 리스트로 반환

list1 = [1, 2, 3, 4,  5, 7, 9, 10, 12, 14]

# list1 에서 짝수만 추출한 후 새로운 리스트로 생성

list2 = [x for x in list1 if x % 2 == 0]
print(list2)

def even(data):
    return [x for x in list1 if x % 2 == 0]

[2, 4, 10, 12, 14]

In [40]:
print(even([22, 3, 4, 5, 6, 7, 9, 8]))
print(even(list1))

[2, 4, 10, 12, 14]
[2, 4, 10, 12, 14]

In [44]:
# filter(함수, 함수적용할 리스트)
def even(n):
    return n % 2 == 0

list(filter(even, list1))

[2, 4, 10, 12, 14]

In [45]:
list(filter(lambda n:n%2==0, list1))

[2, 4, 10, 12, 14]

In [47]:
# map(함수, 리스트)
def mul(x):
    return x ** 2

list(map(mul, list1))

[1, 4, 9, 16, 25, 49, 81, 100, 144, 196]

In [48]:
list(map(lambda x:x**2, list1))

[1, 4, 9, 16, 25, 49, 81, 100, 144, 196]