#### 리스트
   - java / javascript 의 배열과 개념 동일
   - javascript의 배열과 동작방식 동일함(데이터를 여러 타입을 담을 수 있음)

In [1]:
# 리스트 생성

list1 = []
list2 = ["a", "b", "c", 1, 2, 3]
list3 = [ 1, 2, 3, 4, 5, 7, 5]
list4 = [1, 2, ["Life", "is", "short"]] # 2차원 리스트
list5 = list('34')

In [10]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
['a', 'b', 'c', 1, 2, 3]
[1, 2, 3, 4, 5, 7, 5]
[1, 2, ['Life', 'is', 'short']]
['3', '4']

### 리스트 인덱싱과 슬라이싱

In [15]:
print(list2[0])
print(list4[2])
print(list4[-1])
print(list4[-1][0])
print(list5[-1])

a
['Life', 'is', 'short']
['Life', 'is', 'short']
Life
4

In [18]:
list6 = [1, 2, ["a", "b", ["Life", "is"]]]

# is 출력
print(list6[2][2][1])
print(list6[-1][-1][-1])

is
is

In [22]:
print(list2)
print(list2[:2])
print(list2[2:])

print(list4)
print(list4[2][:2])

['a', 'b', 'c', 1, 2, 3]
['a', 'b']
['c', 1, 2, 3]
[1, 2, ['Life', 'is', 'short']]
['Life', 'is']

In [ ]:
# + (연결)   /      *(반복)

print(list2 + list3)
print(list2 * 3) # 반복

['a', 'b', 'c', 1, 2, 3, 1, 2, 3, 4, 5, 7, 5]
['a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [ ]:
list2[1] = 'd'
print(list2)

list2[1:2] = [10, 11, 12] # 슬라이싱으로 넣으면 풀어서 들어감
print(list2)

list2[1] = [15, 16, 17] # 범위를 지정하지 않으면 2차원 배열로 들어감
print(list2)

['a', 'd', 11, 12, 'c', 1, 2, 3]
['a', 10, 11, 12, 11, 12, 'c', 1, 2, 3]
['a', [15, 16, 17], 11, 12, 11, 12, 'c', 1, 2, 3]

In [28]:
# 리스트 요소 삭제

del list2[1]
print(list2)

['a', 11, 12, 11, 12, 'c', 1, 2, 3]

In [29]:
# len() : 길이

len(list2)

9

In [31]:
for i in list2:
    print(i, end=" ")

a 11 12 11 12 c 1 2 3

### 리스트 함수

In [39]:
# append(요소는 하나) : 리스트 뒤에 요소 추가
list5.append('5')
# list5.append('5', '6', '7') -> append 안에는 요소 하나만 넣을 수 있음 
list5.append([6, 7, 8])
list5

['3', '4', '5', '5', [6, 7, 8], '5', [6, 7, 8], '5', '5', [6, 7, 8]]

In [45]:
# 1~ 100 숫자 중에서 짝수만 리스트로 생성
# range(시작, 종료, 증감) : 종료는 포함 안함

even = []

for i in range(2, 101, 2):
    # print(i, end=" ")
    even.append(i)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# 리스트 원본 정렬 : sort() -> 오름차순 정렬

list1 = [1, 4, 3, 2]
list1.sort() 
list1

[1, 2, 3, 4]

In [48]:
list2 = ['z', 'b', 'c', 'f']
list2.sort()
list2

['b', 'c', 'f', 'z']

In [52]:
list2 = ['A', 'b', 'C', 'f']
list2.sort() # 대문자 => 소문자 순으로 정렬
list2

['A', 'C', 'b', 'f']

In [ ]:
# 내림차순 
# sort(reverse=True)
print("정렬 전 ", list2)
list2.sort(reverse=True)

print("정렬 후",list2)

정렬 전  ['A', 'C', 'b', 'f']
정렬 후 ['f', 'b', 'C', 'A']

In [54]:
# reserse() : 리스트 뒤집기

print(list3)
list3.reverse()
print(list3)

[1, 2, 3, 4, 5, 7, 5]
[5, 7, 5, 4, 3, 2, 1]

In [3]:
 # index() : 특정 요소 위치 반환( 없는 경우 에러)

# list3.index(9)
list3.index(1)

0

In [ ]:
# insert(위치, 요소) : 위치 지정해서 요소 삽입
list3.insert(2, 35)

In [5]:
list3

[1, 2, 35, 3, 4, 5, 7, 5]

In [ ]:
# remove() : 특정 요소 삭제 // 특정 요소가 중복이 된다면 첫번쨰로 나온 요소만 삭제

list3.remove(4)
list3

[1, 2, 35, 3, 5, 7, 5]

In [ ]:
# pop() : 리스트 맨 마지막 요소를 리턴하고 그 요소는 삭제

list3.pop()
list3

[1, 35, 3, 5, 7]

In [9]:
list3.pop(1)
list3

[1, 3, 5, 7]

In [ ]:
# count() : 리스트에 포함된 요소 개수 세기

list3.count(3)

1

In [11]:
list3.append(4)
list3

[1, 3, 5, 7, 4]

In [12]:
list3.append([7, 8, 9])
list3

[1, 3, 5, 7, 4, [7, 8, 9]]

In [ ]:
# extend() : 확장 ( 현재 리스트를 확장)

list3.extend([16, 17, 18])
list3

[1, 3, 5, 7, 4, [7, 8, 9], 16, 17, 18]

In [ ]:
# 참 : 리스트에 요소를 가지고 있으면 True, "abc"
# 거짓 : [] (비어있는 경우), ""

if list2:
    print(True)
else:
    print(False)

True

In [16]:
list2

['a', 'b', 'c', 1, 2, 3]

In [18]:
# list 의 각 요소에 *2 를 한 후 새로운 리스트로 반환
list1 = [1,2,3,4]

list2 = []
for num in list1:
    list2.append(num*2)

list2

[2, 4, 6, 8]

In [ ]:
list3 = [x*2 for x in list1] # 향상된 list 다루느 방식
list3

[2, 4, 6, 8]

In [20]:
print( [x * x for x in range(5)])

[0, 1, 4, 9, 16]

1. 메뉴 선택

    - A 자동차 들어감. 주차장 상태 == ['A']
    - B 자동차 들어감. 주차장 상태 == ['A', 'B']
    - ....
    - E 자동차 들어감. 주차장 상태 == ['A', 'B', 'C', 'D', 'E']

2. 메뉴 선택
    - E 자동차 나감. 주차장 상태 == ['A', 'B', 'C', 'D']

In [ ]:
# 문자 => 유니코드 값  : ord()
print(ord("A"))

# 유니코드 => 문자     : chr()
print(chr(65))

65
A

In [28]:
# 주차장 프로그램 작성

parking_lot = []
top, car_name = 0, 'A'

while True:
    no = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료"))


    if no <= 3:
        if no == 1:
            if top >= 5: # 주차장 꽉 찼음 출력
                print("주차장 꽉 찼음")    
            else:
                parking_lot.append(car_name) 
                # A 자동차 들어감. 주차장 상태 ==> ['A']
                print(f"{car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")
                top +=1
                car_name = chr(ord(car_name) +1)
        elif no == 2:
            if top > 0: # 주차장 꽉 찼음 출력
                outCar = parking_lot.pop() 
                print(f"{outCar} 자동차 나감. 주차장 상태 ==> {parking_lot}")
                top -=1
                car_name = chr(ord(car_name) +1)
            else:
                print("빠져나갈 자동차가 없음")

        else:
            print("프로그램 종료")
            break
    else:
        print("메뉴를 확인해 주세요")

A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
B 자동차 나감. 주차장 상태 ==> ['A']
A 자동차 나감. 주차장 상태 ==> []
프로그램 종료

## List Comprehension

In [29]:
list3 = [x * 2 for x in list1]
list3

[2, 4, 6, 8]

In [30]:
print([x * x for x in range(5)])

[0, 1, 4, 9, 16]

In [35]:
list1 = ["값", "을", "병", "정"]
# 정 글자만 제외하고 새로운 리스트로 생성하기

# list2 = []
# for s in list1:
#     if s!= "정":
#         list2.append(s)
# print(list2)

list2 = [s for s in list1 if s != "정"]
print(list2)

['값', '을', '병']

In [38]:
# 1 ~ 100 숫자 중에서 홀수만 리스트로 생성

# list2 = []
# for i in range(1, 101):
#     if i % 2 == 1:
#         list2.append(i)

# list2 = list(range(1, 101, 2))

list2 = [i for i in range(1, 101) if i % 2 == 1]
print(list2, end="")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [40]:
list1 = ["nice", "study", "python", "anaconda", "!"]

# 5 글자 이상의 단어만 새로운 리스트로 생성
# list2 = []
# for s in list1: 
#     if len(s) >= 5:
#         list2.append(s)

list2 = [s for s in list1 if len(s) >= 5]

print(list2)

['study', 'python', 'anaconda']

In [41]:
print([[x, x+1, x+2] for x in [1, 2, 3]])

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]