### 제어문
- if

In [1]:
a = 200
if a < 100:
    print("a 는 100보다 작다")

In [ ]:
if 100 < a < 300:  # a > 100 and a < 300
    print("a 는 100보다 크고 300보다 작다")

a 는 100보다 크고 300보다 작다

In [ ]:
# a=12, b=6, c=18

a=12
b=6
c=18

max = a

if max < b :
    max = b
if max < c:
    max = c

print(f"가장 큰 수는 {max}")

가장 큰 수는 18

In [ ]:
score = 90

In [6]:
# 사용자한테 입력받은 숫자가 짝, 홀 출력
num = int(input("숫자입력 : "))
if num %2 == 0 :
    print("짝수")
else:
    print("홀수")

홀수

In [7]:
# if ~ elif ~ else

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"


    print(f"등급 {grade}")

NameError: name 'score' is not defined

In [ ]:
# 숫자 2개 입력, 연산자(+, -, *, /, //, %) 입력
# 계산기

a= int(input("숫자를 입력해 주세요 "))
calc = input("연산자 +, -, *, /, //, % 중 하나를 입력하세요")
b= int(input("숫자를 입력해 주세요 "))

result = 0
if calc == "+":
    result = a+b
elif clac == "-":
    result =a-b
elif clac == "*":
    result =a*b
elif clac == "/":
    result =a/b
elif clac == "//":
    result =a//b
elif clac == "%":
    result =a%b
else:
    print("연산자 확인")

print(f" {a} {calc} {b} = {result}")

 1 + 1 = 2

In [ ]:
# x in 리스트 : x 가 리스트 안에 포함되어 있느냐?
# x in 문자열 : x 가 문자열 안에 포함되어 있느냐?

print(1 in [1, 2, 3])  # => 포함 여부
print("a" in "abc")

True
True

In [12]:
1 not in [1, 2, 3]

False

In [15]:
pocket = ["paper", "money", "cellphone"]
if "money" in pocket:
    print("money 있음")

money 있음

In [ ]:
# 파이썬에 삼항 연산자는(조건 ? 참 : 거짓) 없음

message = ""
if score >= 60:
    message = "success"
else:
    message = "fail"

# 파이썬에서 사용하는 방식(조건부 표현식)
message = "success" if score >= 60 else "fail"

NameError: name 'score' is not defined

## 반복문
- while
- for

In [18]:
i = 1
while i < 11:
    print(i, end=" ")
    # i++ (X)
    i = i+1

1 2 3 4 5 6 7 8 9 10

In [22]:
# 1 ~ 100 합계
i = 1
hap =0
while i < 101:
    i += 1
    hap += i
print(f"1~100합 = {hap}")

1~100합 = 5150

In [46]:
# sum() : 파이썬엔 sum 함수 존재



print(range(5))
print(list(range(5)))
print(sum(range(5)))
print(sum(range(101)))
print(sum(range(1, 101)))
print(sum(range(1, 101, 2))) # 1, 3, 5 .... 홀수합

range(0, 5)

TypeError: 'list' object is not callable

In [30]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [31]:
for i in range(1, 101, 2):
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [37]:
# 1 ~ 사용자가 입력한 숫자까지 합계 구하기
a= int(input("숫자를 입력하세요"))

hap= 0
for i in range(1, a+1):
    hap += i

print(hap)

66

In [38]:
for i in range(5, -1, -1):
    print(i, end=" ")

5 4 3 2 1 0

In [40]:
list1 = ["사과", "딸기", "바나나", "포토"]

# 리스트 출력
for fruit in list1:
    print(fruit)

사과
딸기
바나나
포토

In [ ]:
# tuple : (0, '사과')

# enumerate(리스트, 문자열, set, 튜플, 딕셔너리)

for inx,fruit in enumerate(list1):
    print(fruit)
    print(inx, fruit)

사과
0 사과
딸기
1 딸기
바나나
2 바나나
포토
3 포토

In [43]:
a_class = [70, 60, 55, 75, 95, 80, 85, 100]

# a_class 의 중간고사 점수에 대해서 평균 구하기
total = 0
for num in a_class:
    total+=num

print("평균 : %.2f" % (total / len(a_class)))

평균 : 77.50

In [48]:


sum(a_class)

620